<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/manager-main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>student_regist</title>
    <link rel="stylesheet" href="../../static/css/manager/add_std.css" th:href="@{/css/manager/add_std.css}">
    <script src="../../static/js/manager/add_std.js" th:src="@{/js/manager/add_std.js}" defer></script>
</head>
<body>
    <form th:action="@{/manager/add_std}" method="POST" layout:fragment="main-section" class="student-regist-section">
            <h1 class="add_std_h1">학생 등록</h1>
            <div class="student-regist-div">
                <label class="add_std_label">
                    <span>학번</span>
                    <input type="text" name="stdNo" class="std_no">
                </label>
                <label class="add_std_label">
                    <span>이름</span>
                    <input type="text" name="name" class="name">
                </label>
                <label class="add_std_label">
                    <span>단과대학</span>
                    <select id="collegeId" name="collegeId">
                        <option th:value="${college.id}" th:each="college : ${colleges}" th:text="${college.name}" >
                            <!--                                    공과대학-->
                        </option>
                    </select>
                </label>
                <label class="add_std_label">
                    <span>학과</span>
                    <select id="deptId" name="deptId">
                        <option value="" selected disabled hidden>선택</option>
                        <option th:value="${depart.id}" th:each="depart : ${departments}" th:text="${depart.name}">
                            <!--                                    컴퓨터공학과-->
                        </option>
                    </select>
                </label>
                <label class="add_std_label">
                    <span>학년</span>
                    <select name="grade" class="grade">
                        <option value="1">
                            1학년
                        </option>
                        <option value="2">
                            2학년
                        </option>
                        <option value="3">
                            3학년
                        </option>
                        <option value="4">
                            4학년
                        </option>
                    </select>
                </label>
                <label class="semester-label add_std_label">
                    <span>학기</span>
                    <select name="semester" class="semester">
                        <option value="1">
                            1학기
                        </option>
                        <option value="2">
                            2학기
                        </option>
                    </select>
                </label>
            </div>
            <button type="submit" class="student-regist-btn">등록하기</button>
        </form>
</body>
</html>