<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 | 수강신청</title>
    <link rel="stylesheet" href="../../static/css/manager/enrolment.css">

</head>
<body>
    <main>
        <section class="enrolment-main">
            <div class="enrolment-div">
                <h2>수강 신청 기간 설정</h2>
                <label>
                    <input type="date"> ~ <input type="date">
                </label>
                <button id="enrolment-btn">설정</button>
            </div>
        </section>
    </main>
</body>
</html>