<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/manager-main-layout}"
>
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="../../static/css/manager/leave_management.css" th:href="@{/css/manager/leave_management.css}">
    <script src="../../static/js/manager/leave_management.js" th:src="@{/js/manager/leave_management.js}" defer></script>
    <title>leave_management</title>
</head>
<body>
    <section class="leave-management-section" layout:fragment="main-section">
        <h1 class="leave-h1">휴학 신청 관리</h1>
        <div class="leave-student-list-div">
            <table>
                <thead>
                <tr class="menu-tr">
                    <td>신청일자</td>
                    <td>이름</td>
                    <td>학번</td>
                    <td>휴학사유</td>
                    <td>시작학기</td>
                    <td>종료학기</td>
                    <td>확인상태</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="leave : ${leaves}">
                    <td th:text="${leave.applicationDate}"></td>
                    <td th:text="${leave.name}"></td>
                    <td th:text="${leave.stdNo}"></td>
                    <td th:text="${leave.reason}"></td>
                    <td th:text="${leave.startDate}"></td>
                    <td th:text="${leave.endDate}"></td>
                    <td>
                        <form class="leave-form" th:action="@{/manager/leave/update}" method="post">
                            <input type="hidden" name="stdNo" th:value="${leave.stdNo}">
                            <button type="button" th:text="${leave.status}" onclick="status_function(this)" class="state-std">처리중</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <h1 class="leave-h1">복학 신청 관리</h1>
        <div class="leave-student-list-div">
            <table>
                <thead>
                <tr class="menu-tr">
                    <td>신청일자</td>
                    <td>이름</td>
                    <td>학번</td>
                    <td>복학년도</td>
                    <td>복학학년</td>
                    <td>복학학기</td>
                    <td>확인상태</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="return : ${returns}">
                    <td th:text="${return.applicationDate}"></td>
                    <td th:text="${return.name}"></td>
                    <td th:text="${return.stdNo}"></td>
                    <td th:text="${return.returnYear}"></td>
                    <td th:text="${return.returnGrade}"></td>
                    <td th:text="${return.returnSemester}"></td>
                    <td>
                        <form class="return-form" th:action="@{/manager/return/update}" method="post">
                            <input type="hidden" name="stdNo" th:value="${return.stdNo}">
                            <button type="button" th:text="${return.status}" onclick="status_function(this)" class="state-std">처리중</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>