<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/manager-main-layout}"
>
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/manager/manager_view_notice.css" th:href="@{/css/manager/manager_view_notice.css}">
    <script src="../../static/js/manager/view_notice.js" th:src="@{/js/manager/view_notice.js}" defer></script>
</head>
<body>
    <section class="view_main" layout:fragment="main-section">
        <div class="notice-title">공지사항</div>
        <div class="contents">
            <div class="contents_title">
                <span th:text="${notice.title}"></span>
            </div>
            <div class="contents_under">
                <strong>등록일</strong><span class="contents_date" th:text="${notice.createdDate}"></span>
                <strong>조회수</strong><span class="contents_view" th:text="${notice.views}"></span>
                <a th:href="@{/manager/notice_edit/{noticeNo}(noticeNo=${notice.no})}" class="contents_change">수정</a>
                <a href="javascript:void(0)" class="contents_remove" th:onclick="'confirmDelete(' + ${notice.no} + ')'">삭제</a>
            </div>
            <div class="contents_text" th:text="${notice.content}">
                안녕하세요
            </div>
        </div>
        <div class="contents-btn">
            <a th:href="@{/manager/manager_notice}">목록</a>
        </div>
    </section>
</body>
</html>