<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/manager/manager_view_notice.css">
</head>
<body>
    <main>
        <div class="notice-title">공지사항</div>
        <div class="contents">
            <div class="contents_title">2024학년도 교외장학재단 신규장학생 선발 결과 안내</div>
            <div class="contents_under">
                <strong>등록일</strong><div class="contents_date">24-07-23</div>
                <strong>조회수</strong><div class="contents_view">5</div>
                <button class="contents_change">수정</button>
                <button class="contents_remove">삭제</button>
            </div>
            <div class="contents_text">
                ㅎㅇ
            </div>
        </div>
        <div class="contents-btn">
            <button>목록</button>
        </div>
    </main>
</body>
</html>