<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/manager-main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/manager/notice_write.css" th:href="@{/css/manager/notice_write.css}">
</head>
<body>
    <form th:action="@{/manager/notice_write}" method="post" class="write_main" layout:fragment="main-section" >
        <div class="notice_write">공지사항 작성</div>
        <div class="content_div">
            <div class="content_title">
                <div>제목</div>
                <input type="text" name="title" maxlength="30">
            </div>
            <div class="contents">
                <div>내용</div>
                <textarea class="content-textarea" name="content" rows="20" cols="60" maxlength="2000"></textarea>
            </div>
        </div>
        <div class="btn_div">
            <a href="/manager/manager_notice">목록</a>
            <button>작성</button>
        </div>
    </form>
</body>
</html>