<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/manager-main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/manager/notice_edit.css" th:href="@{/css/manager/notice_edit.css}">
</head>
<body>
    <form th:action="@{/manager/notice_edit/{noticeNo}(noticeNo=${notice.no})}" method="post" class="write_main" layout:fragment="main-section" >
        <div class="notice_write">공지사항 수정</div>
        <div class="content_div" th:object="${notice}">
            <div class="content_title">
                <div>제목</div>
                <input type="text" name="title" th:field="*{title}" maxlength="30">
            </div>
            <div class="contents">
                <div>내용</div>
                <textarea class="content-textarea" name="content" rows="20" cols="60" maxlength="2000" th:field="*{content}"></textarea>
            </div>
        </div>
        <div class="btn_div">
            <a th:href="@{/manager/manager_view_notice/{noticeNo}(noticeNo=${notice.no})}">취소</a>
            <button>수정완료</button>
        </div>
    </form>
</body>
</html>