<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/manager-main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>등록금 고지서 발송</title>
    <link rel="stylesheet" href="../../static/css/manager/send.css" th:href="@{/css/manager/send.css}">
</head>
<body>
    <form th:action="@{/manager/send}" class="send-section" layout:fragment="main-section" method="post">
        <h2 class="send-h2">등록금 고지서 발송</h2>
        <button class="send-btn">발송하기</button>
    </form>
</body>
</html>