<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/manager-main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/61293ff96f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/manager/student_list_check.css">
    <script src="../../static/js/manager/student_list_check.js" th:src="@{/js/manager/student_list_check.js}" defer></script>
</head>
<body>
<section class="std_list_main_section" layout:fragment="main-section">
    <h1 class="student_list_title">학생 명단 조회</h1>
    <form class="list_search_section">
        <label class="list_search_input">
            <span>단과대학</span>
            <select id="collegeId" name="collegeId">
                <option value="" selected disabled hidden>선택</option>
                <option th:value="${college.id}" th:each="college : ${colleges}" th:text="${college.name}" >
            </select>
        </label>
        <label class="list_search_input">
            <span>학과</span>
            <select id="deptId" name="deptId">
                <option value="" selected disabled hidden>선택</option>
                <option th:value="${depart.id}" th:each="depart : ${departments}" th:text="${depart.name}">
                </option>
            </select>
        </label>
        <label class="list_search_input">
            <span>학년</span>
            <select name="grade">
                <option value="" selected disabled hidden>선택</option>
                <option value="1">
                    1학년
                </option>
                <option value="2">
                    2학년
                </option>
                <option value="3">
                    3학년
                </option>
                <option value="4">
                    4학년
                </option>
            </select>
        </label>
        <label class="list_search_input">
            <span>학기</span>
            <select name="semester">
                <option value="" selected disabled hidden>선택</option>
                <option value="1">
                    1학기
                </option>
                <option value="2">
                    2학기
                </option>
            </select>
        </label>
        <label class="list_search_input">
            <span>이름</span>
            <input type="text" name="name">
        </label>
        <label class="list_search_input">
            <span>학번</span>
            <input type="text" name="stdNo">
        </label>
        <label class="list_search_btn">
            <button class="check_btn">
                <span>조회</span>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </label>
    </form>
    <section class="list_table_section">
        <h2 class="list_h2">학생 목록</h2>
            <table class="std_list_table">
                <thead>
                    <tr>
                        <td>단과대학</td>
                        <td>학과</td>
                        <td>학년</td>
                        <td>학기</td>
                        <td>이름</td>
                        <td>학번</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="stdObj: ${stds}">
                        <td width="130px">[[${collegeMap[stdObj.collegeId]}]]</td>
                        <td width="100px">[[${allDepartmentMap[stdObj.deptId]}]]</td>
                        <td width="140px">[[${stdObj.grade}]]</td>
                        <td width="50px">[[${stdObj.semester}]]</td>
                        <td width="70px">[[${stdObj.name}]]</td>
                        <td width="100px">[[${stdObj.stdNo}]]</td>
                    </tr>
                </tbody>
            </table>
    </section>
</section>
</body>
</html>