@import "../public/public.css";
*{
    margin: 0 auto;
    box-sizing: border-box;
}
.mg-notice-section{
    background-color: white;
    margin-top: 50px;
    width: 1000px;
}
/*************************************/
.notice-title{
    width: 950px;
    font-family: SemiBold;
    font-size: 55px;
    border-bottom: 1px solid var(--dark-green-2);
    padding: 25px 0 20px 30px;
}

.notice-search{
    display: inline-block;
    margin: 40px 0 0 394px;
}
.notice-search > select{
    outline: none;
    margin-right: 10px;
}
.search-input{
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 7px;
    outline: none;
}
.write-btn{
    background-color: var(--light-green-2);
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    margin-right: 5px;
}
.write-btn:hover{
    color: white;
    cursor: pointer;
    background-color: var(--dark-green-3);
}
.search-btn{
    background-color: var(--light-green-2);
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}
.search-btn:hover{
    color: white;
    cursor: pointer;
    background-color: var(--dark-green-3);
}

/*************************************/
.notice-table{
    width: 950px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.notice-table table{
    width: 100%;
    border-top: 1px solid black;
    border-collapse: collapse;
}
.notice-table td:hover{
    cursor: pointer;
}
.notice-table th{
    background-color: var(--light-green-3);
}
.notice-table td, th{
    border-bottom: 1px solid black;
    padding: 10px;
}

/*************************************/
.board-page{
    text-align: center;
    font-size: 0;
    margin-top: 30px;
}

.board-page a{
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: center;
}
.board-page a:hover{
    cursor: pointer;
    color: var(--dark-green-3);
}