<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>main-aside | 메인 옆 메뉴</title>
</head>
<body>
    <main>
        <aside th:fragment="aside" class="nav-bar">
            <h1>학사행정</h1>
            <nav class="academic-nav">
                <ul class="main-category">
                    <li>
                        <a href="#">학적</a>
                        <ul class="sub-category">
                            <li><a href="/user/info_management">기본정보</a></li>
                            <li><a href="#">성적</a></li>
                            <li><a href="/user/schedule">수업</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">등록</a>
                        <ul class="sub-category">
                            <li><a href="/scholarship/bill">등록금 납부/조회</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">복학/휴학</a>
                        <ul class="sub-category">
                            <li><a href="/school/leave">휴학 신청</a></li>
                            <li><a href="/school/return">복학 신청</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">수강신청</a>
                        <ul class="sub-category">
                            <li><a href="/course/course">강의 계획서</a></li>
                            <li><a href="#">수강 꾸러미</a></li>
                            <li><a href="#" id="course-enroll-a">수강 신청</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">학사정보</a>
                        <ul class="sub-category">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">학사일정</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
    </main>
</body>
</html>