<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Main Layout</title>
    <link rel="stylesheet" href="/css/public/public.css">
    <link rel="stylesheet" href="/css/public/header.css">
    <link rel="stylesheet" href="/css/public/main-navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main-aside.js" defer></script>
</head>
<body>
    <header th:replace="~{layout/header :: header}"></header>
    <main>
        <aside th:replace="~{layout/main-aside :: aside}"></aside>
        <section layout:fragment="main-section"></section>
    </main>
</body>
</html>