@import "../public/public.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: var(--font-size-extrabold);
    border-bottom: 2px solid var(--dark-green-2);
}

main{
    width: 900px;
    margin: 50px auto;
}

.bill-section{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 70px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

h2{
    font-size: var(--font-size-extrabold);
    text-align: center;
    margin: 30px 0;
}

h3{
    font-size: var(--font-size-bold);
    text-align: center;
    margin-bottom: 30px;
}

b{
    font-size: var(--font-size-bold);
    color: var(--dark-green-2);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.bill-btn{
    padding: 5px 15px;
    background-color: var(--light-green-2);
    font-size: var(--font-size-regular);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.bill-btn:hover{
    opacity: 0.7;
}

/************테이블 관련**************/

table{
    font-size: var(--font-size-medium);
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

td, th{
    padding: 1em .5em;
    border: 2px solid lightgray;
}