@import "../public/public.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 600px;
    margin: 70px auto;
    padding: 100px 0;
    border: 1px solid var(--color-Light-Grays-2-rgba);
    border-radius: 8px;
    box-shadow: 1px 2px 3px 1px var(--color-Light-Grays-2-rgba);
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

/****************로그인 하는곳*******************/

.login_span{
    font-size: var(--font-size-regular);
}

b{
    font-size: var(--font-size-regular);
    color: var(--color-RockON-3);
}

h1{
    font-size: var(--font-size-black);
    margin: 20px 0;
}

.login_section{
    display: flex;
    flex-direction: column;
}

.id_label{
    width: 100%;
    margin-bottom: 5px;
    border: none;
}

.id_label > input{
    width: 100%;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 8px;
}

.pw_label{
    width: 100%;
    margin-bottom: 5px;
}

.pw_label > input{
    width: 100%;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 8px;
}

.login_section > button{
    padding: 5px;
    margin-bottom: 15px;
    background-color: var(--color-RockON-3);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.login_section > button:hover{
    opacity: 0.7;
}

/****************회원가입, 아이디, 비번찾는곳*******************/
.login_search_section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.id_store_label{

}

.find_div{

}

.find_div > a{
    color: rgba(0,0,0,0.6);
}

/****************설명란*******************/
.explanation_section{
    display: block;
}

.explanation_section > h3{
    font-size: var(--font-size-regular);
    margin-bottom: 10px;
}

.explanation_section > span{
    font-size: var(--font-size-thin);
}
