@import "../public/public.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 70px auto;
}

h1{
    font-size: var(--font-size-extrabold);
    margin-bottom: 40px;
    border-bottom: 2px solid var(--color-RockON-3);
}

.score-section{
    margin-bottom: 40px;
}

b{
    color: red;
}

.notification-section{
    margin-bottom: 40px;
}

/************테이블 관련**************/

table{
    border: 1px solid #a39485;
    font-size: var(--font-size-medium);
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}