@import "../public/public.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.leave-main-section{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 70px auto;
    padding: 50px;
    background-color: white;
}

h1{
    font-size: var(--font-size-extrabold);
    margin-bottom: 40px;
    border-bottom: 2px solid var(--dark-green-2);
}

h3{
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
    border-bottom: 1px solid var(--dark-green-2);
}

.leave-info-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.leave-btn{
    padding: 5px;
    background-color: var(--light-green-2);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.leave-btn:hover{
    opacity: 0.7;
}

.leave-label{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.leave-input{
    width: 100%;
    padding: 2px 4px;
    border: none;
    outline: none;
}

/************테이블 관련**************/

table{
    border: 1px solid #a39485;
    border-collapse: collapse;
    font-size: var(--font-size-medium);
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.stdNo-td{
    background-color: var(--light-green-5);
}

.stdNo-td > label > input{
    background-color: var(--light-green-5);
}

.info-tr{
    width: 50px;
}

