<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" href="../../static/css/user/academic_notice.css" th:href="@{/css/user/academic_notice.css}">
</head>
<body>
<section class="notice-section" layout:fragment="main-section">
    <div class="notice-title">
        공지사항
    </div>
    <form th:action="@{/user/academic_notice}" class="notice-search">
        <select name="searchType">
            <option value="title">제목</option>
            <option value="title_and_content">제목+내용</option>
        </select>
        <input class="search-input" type="text" name="title" placeholder="검색어를 입력하세요">
        <button class="search-btn">검색</button>
    </form>
    <div class="notice-table">
        <table>
            <tr>
                <th width="50px" height="40px">번호</th>
                <th width="400px" height="40px">제목</th>
                <th width="150px" height="40px">작성일</th>
                <th width="70px" height="40px">조회수</th>
            </tr>
            <tr th:each="notice, iterStat : ${notices}">
                <td width="50px" height="40px">
                    <a th:href="@{|/user/view_notice/${notice.no}|}" th:text="${iterStat.index + 1}"></a>
                </td>
                <td width="400px" height="40px">
                    <a th:href="@{|/user/view_notice/${notice.no}|}" th:text="${notice.title}"></a>
                </td>
                <td width="150px" height="40px" th:text="${notice.createdDate}">2024-07-16</td>
                <td width="70px" height="40px" th:text="${notice.views}">5</td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>