<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학번 입력 후 회원가입 가능</title>
    <link rel="stylesheet" href="../../static/css/user/register.css" th:href="@{/css/user/register.css}">
</head>
<body>
    <main>
        <h1>학번 입력</h1>
        <form th:action="@{/user/register}" method="post">
            <section class="num-section form-section">
                <label>
                    <span>학번</span>
                    <input type="number" id="studentNo" name="studentNo" placeholder="학번 입력">
                </label>
            </section>
            <section class="register-section form-section">
                <button id="register-btn">회원가입으로 이동</button>
            </section>
        </form>
    </main>
</body>
</html>