@import "../public/public.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: var(--font-size-extrabold);
    border-bottom: 2px solid var(--dark-green-2);
}

.bill-check-main-section{
    width: 1000px;
    margin: 50px auto;
}

.bill-check-section{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

/************테이블 관련**************/

table{
    border: 1px solid #a39485;
    font-size: var(--font-size-medium);
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;;
}

td, th{
    padding: 1em .5em;
    border: 1px solid rgba(0,0,0,.1);
}

#menu-tr{
    background-color: var(--light-green-5);
}

b{
    color: var(--dark-green-2);
}