<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bill_check</title>
    <link rel="stylesheet" href="../../static/css/scholarship/bill_check.css">
</head>
<body>
    <section class="bill-check-main-section">
        <h1>등록금 납입 내역</h1>

        <section class="bill-check-section">
            <table>
                <tr id="menu-tr">
                    <td>등록년도</td>
                    <td>등록학기</td>
                    <td>등록금</td>
                    <td>장학금</td>
                    <td><b>납부금</b></td>
                </tr>
                <tr>
                    <td>2024년</td>
                    <td>1</td>
                    <td>2000000</td>
                    <td>2000000</td>
                    <td>0</td>
                </tr>
            </table>
        </section>
    </section>
</body>
</html>