
*{
    /* Color Theme Swatches in RGBA */
    --dark-green-1 : rgba(72, 114, 30, 1);
    --dark-green-2 : rgba(56, 89, 24, 1);
    --dark-green-3 : rgba(107, 165, 49, 1);
    --dark-green-4 : rgba(169, 216, 121, 1);
    --dark-green-5 : rgba(159, 216, 73, 1);

    /* Color Theme Swatches in RGBA */
    --light-green-1 : rgba(128, 191, 150, 1);
    --light-green-2 : rgba(184, 216, 186, 1);
    --light-green-3 : rgba(225, 242, 213, 1);
    --light-green-4 : rgba(163, 191, 135, 1);
    --light-green-5 : rgba(242, 242, 242, 1); 



    --font-size-thin: 14px;
    --font-size-extralight: 15px;
    --font-size-light: 16px;
    --font-size-regular: 18px;
    --font-size-medium: 20px;
    --font-size-semibold: 22px;
    --font-size-bold: 24px;
    --font-size-extrabold: 26px;
    --font-size-black: 28px;
}
@font-face {
    font-family: 'Black';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-Black.subset.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-size: var(--font-size-black);
}
@font-face {
    font-family: 'ExtraBold';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-ExtraBold.subset.woff2') format('woff');
    font-weight: 800;
    font-style: normal;
    font-size: var(--font-size-extrabold);
}
@font-face {
    font-family: 'Bold';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-Bold.subset.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-bold);
}
@font-face {
    font-family: 'SemiBold';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-SemiBold.subset.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-size: var(--font-size-semibold);
}
@font-face {
    font-family: 'Medium';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-Medium.subset.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-size: var(--font-size-medium);
}
@font-face {
    font-family: 'Regular';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-Regular.subset.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-regular);
}
@font-face {
    font-family: 'Light';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-Light.subset.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    font-size: var(--font-size-light);
}
@font-face {
    font-family: 'ExtraLight';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-ExtraLight.subset.woff2') format('woff');
    font-weight: 200;
    font-style: normal;
    font-size: var(--font-size-extralight);
}
@font-face {
    font-family: 'Thin';
    src: url('../../Pretendard/web/static/woff2-subset/Pretendard-Thin.subset.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
    font-size: var(--font-size-thin);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Regular;
    font-size: var(--font-size-regular);
}

a{
    text-decoration: none;
    color: black;
}