*{
    margin: 0 auto;
    box-sizing: border-box;
}
header{
    height: 100px;
    border-bottom: 1px solid black;
}
header > span{
    padding-left: 50px;
    font-size: var(--font-size-bold);
}
main{
    width: 100%;
    height: 100%;
}
.nav-bar{
    display: inline-block;
    margin: 0 20px 0 80px;
    width: 250px;
    height: 100vh;
    border: 1px solid black;
}
.main-section{
    margin-top: 50px;
    display: inline-block;
    width: calc(100% - 500px);
    height: 100vh;
}
.individual-div{
    height: 200px;
}
.individual-name{
    font-size: var(--font-size-black);
}
.individual-studentId{
    font-size: var(--font-size-medium);
}