@import "public/main-navbar.css";
@import "public/header.css";

*{
    margin: 0 auto;
    box-sizing: border-box;
}

main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-color: var(--light-green-3);
}

.main-section {
    width: calc(100% - 500px);
    height: 100vh;
}

.individual-privacy{
    display: inline-block;
    width: 230px;
}
.individual-div{
    display: flex;
    background-color: white;
    width: 800px;
    height: 200px;
}
.individual-privacy{
    margin: 0;
}
.individual-name{
    margin: 40px 20px 0 40px;
    font-size: var(--font-size-black);
}
.individual-input{
    margin: 30px;
}
.individual-input > input{
    border-radius: 10px;
    background-color: var(--light-green-2);
    padding: 20px 30px;
    border: 1px solid black;
    cursor: pointer;
}
.individual-input > input:hover{
    color: white;
    background-color: var(--dark-green-3);
}
/* 로그아웃 버튼(a테크로 구현함)*/
.individual-input a{
    border-radius: 10px;
    background-color: var(--light-green-2);
    padding: 20px 30px;
    border: 1px solid black;
    cursor: pointer;
}
.individual-input a:hover{
    color: white;
    background-color: var(--dark-green-3);
}

/*******************************/
.content-div{
    margin-top: 20px;
    background-color: white;
    width: 800px;
    height: 420px;
}
.content-div > table{
    text-align: center;
}
.content-div > div{
    width: 700px;
    padding: 30px 0 20px 0;
    border-bottom: 1px solid black;
    font-family: Bold;
    font-size: var(--font-size-black);
}
.business-notice th{
    padding: 10px 0;
}
.business-notice td{
    padding: 12px 0 12px;
}
